$fontFamily: 'nunito', sans-serif;
$colorLetrasOscuro: #424b54; 
$colorLetrasMasOscuro: #25313d; 
$sizeGenericoImagenesModelos: 25rem;

.modelosTexto {
    text-align: center;
    margin: 0 4rem 4rem 4rem;

    .modelosTexto__p {
        font-size: 2rem;
        .linkContactoModelos {
            font-weight: normal;
            color: $colorLetrasMasOscuro;
            font-size: 2rem;
            text-decoration: underline;
        }
    }
}

.sectionModelos__Galeria {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0rem 4rem;
}

.sectionModelos__Galeria__div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 2rem;
    
    figure {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin: 2.5rem;
        width: auto;
        padding: 0.5rem;

        .imgCardFigureTienda {
            margin: 0.7rem;
            padding: 0.7rem;
            border-radius: 5%;
        }
        .botonCaracteristicas {
            font-size: 1.5rem;
            font-family: $fontFamily;
            width: 20rem;
            height: 4rem;
        }
    }
}

.cardFigureTienda {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

.botonComprarChico {
    width: 4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

.logoCarrito {
    width: 3rem;
    height: 3rem;
}

.btn-outline-dark {
    border-color: $colorLetrasMasOscuro;
    color: $colorLetrasMasOscuro;
}

.colorBotonCerrarModal {
    background-color: $colorLetrasOscuro;
    font-size: 1.5rem;
}

.modal-title {
    font-size: 2rem;
}

.listaSinCosito {
    list-style-type: none;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    text-align: left;
    font-size: 1.8rem;
}

#botonCarrito {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    font-family: $fontFamily;
}

.modalContenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modalCarrito {
    background-color: white;
    width: auto;
    padding: 20px;
    border: 0.7rem solid $colorLetrasMasOscuro;
    
    p {
        font-size: 2rem;
    }
}

.modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

#carritoContenedor {
    margin: 2rem;
}

.productoEnCarrito {
    display: grid;
    grid-template-columns: (1fr 1fr 1fr 0.1fr);
    grid-gap: 1rem;

    p {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    button {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

.boton-eliminar {
    border: none;
    background-color: transparent;
    img {
        width: 3rem;
        height: 3rem;
    }
}

#carritoCerrar  {
    border: none;
    background-color: transparent;
    margin-left: 2rem;
    img {
        width: 2rem;
        height: 2rem;
    }
}

.tituloModalCarrito {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#divFinalModal {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;   
}

#botonCompraFinalizada {
    color: white;
    width: 20rem;
    height: 4rem;
    font-size: 2rem;
}

$mapImagenes: (
        ganeshaykrishna: $sizeGenericoImagenesModelos,
        milo: $sizeGenericoImagenesModelos,
        laraysusdisfraces: $sizeGenericoImagenesModelos,
        camiloOso: $sizeGenericoImagenesModelos,
        candy: 40.53rem,
        cotorra: 20.09rem,
        ursulaygatito: $sizeGenericoImagenesModelos,
        animalitos: 39.29rem,
        kiaraydin: $sizeGenericoImagenesModelos,
);

@each $nombre, $ancho in $mapImagenes {
    .#{$nombre} {
        width: #{$ancho};
        height: $sizeGenericoImagenesModelos;
    }
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }


